.App {
    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: white;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 130px auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}

.toggle-all {
    text-align: center;
    border: none;
    opacity: 0;
    position: absolute;
}

.toggle-all + label {
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: -52px;
    left: -13px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toggle-all:checked + label:before {
    color: #737373;

}

.toggle-all + label:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

header {
    position: relative;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
}

.select-all {
    width: 60px;
    height: 34px;
    position: relative;
    top: 50px;
    left: 1px;
    cursor: grab;
}

.new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    position: relative;
    top: 0;
    width: 100%;
    text-decoration: initial;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: inherit;
}

.new-todo::placeholder {
    font-style: italic;
}

.main {
    z-index: 2;
    border-top: 1px solid #e6e6e6;
    position: relative;
}


