.footer {
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    display: block;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
    float: left;
    text-align: left;
}

span {
    float: left;
    text-align: left;
}

.clear-completed {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin: 0 5px;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
}

.filter {
    position: relative;
    left: 20%;
}

.selected, .filters:hover {
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 5px;
}

.clear-completed:hover {
    text-decoration: underline;
}
